*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  
}
img{
  width: 100%;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
.orange-color{
  color: orange;
}

.flexible-container{
  display: flex;
  margin-bottom: 50px;
}
.half-width{
  width: 50%;
  padding: 2%;
}
.half-width img{
  width: 100%;
  height: 500px;
  padding-top: 10px;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.top-banner{
  background-image: url(img/pexels-bess-hamiti-35188.jpg);
  background-repeat: no-repeat;
  height: 80vh;
}
.dream-big{
  background-image: url(img/pexels-bess-hamiti-35188.jpg);
  background-repeat: no-repeat;
}
.experience-area{
  background-image: url(img/pexels-samer-daboul-1815257.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.experience-item{
  width: 40%;
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
}
#web-dev-experience{
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#full-stack-experience{
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
footer p{
  text-align: center;
}