*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  
}
img{
  width: 100%;
}
h1{
  font-size: 50px;
}
.orange-color span{
  color: orange;
}

.flexible-container{
  display: flex;
  margin-bottom: 50px;
}
.half-width{
  width: 50%;
  padding: 2%;
}
.half-width img{
  width: 100%;
  height: 500px;
  padding-top: 10px;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.top-banner{
  background-image: url(img/pexels-bess-hamiti-35188.jpg);
  background-repeat: no-repeat;
  height: 80vh;
}
.dream-big{
  background-image: url(img/pexels-bess-hamiti-35188.jpg);
  background-repeat: no-repeat;
}